# Ignore node_modules directory as it contains dependencies
node_modules/

# Ignore environment-specific files (e.g., .env)
.env

# Ignore log files
*.log

# Ignore npm/yarn lock files
package-lock.json
yarn.lock

# Ignore user-specific files/directories
.DS_Store
